* {
  font-family: Roboto;
}
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 234, 231);
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
h1,
h2,
h3 {
  font-family: Chivo Mono;
  text-decoration: underline;
}

.width100 {
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
}
